@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global font setup */
body {
  @apply font-sans;


  .btn {
    @apply px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700;
  }
  
  .btn-primary {
    @apply bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700;
  }
  .btn-outline {
    @apply border border-gray-400 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-100;
  }
  .btn-success {
    @apply bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700;
  }
  
}

.grid-bordered {
  border: 1px solid #ccc !important;
  font-size: 12px !important; /* You can adjust font size here too */
}

.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz .ag-cell {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Optional: remove right border on the last column for clean edges */
.ag-theme-quartz .ag-cell-last-left-pinned,
.ag-theme-quartz .ag-header-cell-last-left-pinned {
  border-right: none !important;
}


.error-message {
  height: 20px; /* Adjust as needed */
  
  overflow: hidden;
  text-align: center;
   /* Tailwind's red-500 color */
}
